.toy-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    list-style-type: none;

    .toy-preview {
        padding: 16px;
        flex: 1 1 200px;
        border: 1px solid #88379b;

        .btn-container {
            display: flex;
            flex-direction: row;
            gap: 8px;
            margin-top: 10px;

            button {
                background: transparent;  
                border: none;  
                cursor: pointer;  
                padding: 0;  
                margin: 0;  
                display: flex;  
                align-items: center;
                justify-content: center;

                img {
                    width: 20px;  
                    height: 20px;  
                    display: block;  
                }

                &:hover {
                    opacity: 0.8;  
                }
            }
        }
    }
}
