.toy-Preview{


    .details-btn {
        display: inline-block;
        padding: 10px 15px;  
        background-color: #dc858d ;  
        color: #ffffff;  
        text-decoration: none; 
        border-radius: 5px;  
        transition: background-color 0.3s ease;  
    
     
    }

}