.toyIndex{
    
    background-color:#efbbbf; ;
    
    button{
        border-radius: 4.5em;
        background: linear-gradient(279deg, #DC8F95 -34.41%, #CB655B 114.58%);
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
        color: #FFF;
        font-family: Poppins;
        font-size: 0.5625em;
        font-style: normal;
        font-weight: 600;
        line-height: 116.9%;
        letter-spacing: 0.44px;
        padding: 0.625em;
        margin-left: 45%;
    }

    .toy-controls{
        display: flex; 
        justify-content: space-between;
        align-items: center;
        border: 1px solid #5d4242;
        
        & > * {
            margin: 0 10px; 
        }
    }
    }


