.toy-preview {
    text-align: center;
    padding: 0.3em;
    display: flex;
    flex-direction: column;
}
.toy-preview h4{
    text-transform: capitalize;
    color:palevioletred;
}

.toy-preview img {
    max-width: 100px;
}